
DATABASE_URL="file:./dev.db"
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:4321
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_D1_TOKEN=

RESEND_API_KEY=
